@import "../../vars.css";

.container {
  margin-top: 50px;
  color: var(--color-text);
  margin-left: 6%;
  margin-right: 6%;
}

.title {
  font-family: Means Web,Georgia,Times,Times New Roman,serif;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
